//Fonts
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

//Colors
$blue: #4183C4;
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;


//

$grey: #1C1F21;
$white: #fff;
$lightGrey: #d6d6d6;
$tWhite: rgba(255,255,255,.4);

$leadGreen: #2ECC71;